#startbody {
    height: 100vh;
}

.StartBTN {
    animation: ripple 2s infinite !important;
    border: none;
    box-shadow: none;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 20px;
    background-color: #f0f8ff;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(167, 165, 165);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7;
}

// Start
.Start{
    // draggable="false"
    // background="linear-gradient(to bottom, #94c5f8 1%,#a6e6ff 70%,#b1b5ea 100%)"
    // bgPos="center"
    // width="100%"
    // height="100vh"
    // id='startbody'
    // overflow={"hidden"}
    background: linear-gradient(to bottom, #94c5f8 1%,#a6e6ff 70%,#b1b5ea 100%);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .Banner{
        position: absolute;
        transform: rotate(-45deg);
        background-color: rgb(150, 4, 4);
        width: 270px;
        top: 30px;
        left: -90px;
        color: white;
    }
}