$bg-primary : #ffffff;

.Ghostwrapper {
    left: 0;
    bottom: -7px;
    margin: auto;
    position: absolute;
    transform: scale(0.12);
    transition: 0.5s;

    .ghostbody {
        animation: ghostMove 1s alternate infinite;
        will-change: transform;
        animation-fill-mode: forwards;
        -webkit-animation: ghostMove 1s alternate infinite;
        -webkit-animation-fill-mode: forwards;
    }

    .head {
        width: 196px;
        height: 260px;
        border-radius: 40% 40% 0 0;
        background: $bg-primary;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -210px;
        margin-left: -128px;
        transform-origin: bottom;
        will-change: top;
        transition: 0.7s;
        -webkit-transition: 0.7s;
        -moz-transition: 0.7s;
        -ms-transition: 0.7s;
        -o-transition: 0.7s;

    }


    .face {
        width: 180px;
        height: 0px;
        border-radius: 48px 48px 0 0;
        background: $bg-primary;
        position: absolute;
        top: 40px;
        left: 8px;
        z-index: 3;
    }



    .mouth {
        width: 66px;
        height: 33px;
        border-radius: 0 0 33px 33px;
        background: #334C68;
        position: absolute;
        top: 100px;
        left: 50%;
        margin-left: -33px;
        -webkit-transform: scale(1);
        transform: scale(1);
        transition: 0.5s;
        animation: ghostmouthMove 4s ease-in infinite;
        will-change: height;
    }


    .eye-shadow {
        width: 30px;
        height: 15px;
        border-radius: 0 0 15px 15px;
        background: rgba(149, 36, 0, 0.1);
        position: absolute;
        top: 70px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .eye-shadow#left {
        left: 35px;
        z-index: 5;
    }

    .eye-shadow#right {
        right: 35px;
    }

    .eye {
        width: 30px;
        height: 58px;
        border-radius: 15px;
        background: #334C68;
        position: absolute;
        top: -18px;
        left: 50%;
        margin-left: -10px;
        will-change: width, height;
        animation: eyeMove 3s infinite ease;
    }

    .shadow-wrapper {
        width: 98px;
        height: 360px;
        position: absolute;
        left: -8px;
        bottom: -84px;
        z-index: 4;
        // overflow: hidden;
    }

    .foot {
        margin: auto;
        left: 0;
        right: 0;
        width: 100%;
        height: 30px;
        position: absolute;
        /* bottom: ; */
        top: 205px;
        transform: scale(4.89, 4.4);
        fill: $bg-primary;
        z-index: 1;
    }

    #frown {
        position: relative;
        top: 100px;
        left: 0;
        right: 0;
        margin-left: auto;
        height: 20px;
        overflow: hidden;
        z-index: 100;
        background-color: $bg-primary;
        border-radius: 100%;
    }

    #frownchild {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        height: 150px;
        width: 100px;
        border: 10px solid #334C68;
        border-radius: 50%;
    }

    /* eye move */


    @keyframes eyeMove {
        0% {
            top: -28px;
            height: 48px;
        }

        10% {
            top: -7px;
            height: 10px;
        }

        15% {
            top: -28px;
            height: 48px;
        }

        100% {
            top: -28px;
            height: 48px;
        }
    }

    @keyframes ghostmouthMove {
        0% {
            height: 33px;
        }

        10% {
            height: 10px;
        }

        15% {
            height: 33px;

        }

        100% {
            height: 33px;

        }
    }

    @keyframes ghostMove {
        0% {
            transform: translateY(0px);
        }

        100% {
            transform: translateY(10px);
        }
    }
}