.mountainbg {
    overflow: hidden;
    /* background: #b4ddf0; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: bgmoving 50s 1 linear;
}

.mountain,
.mountain-two,
.mountain-three {
    position: absolute;
    bottom: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 180px solid #7ac1e4;
    z-index: 1;
}

.mountain-two {
    left: 80px;
    bottom: -20px;
    opacity: .3;
    z-index: 0;
}

.mountain-three {
    left: -60px;
    bottom: -10px;
    opacity: .5;
    z-index: 0;
}

.mountain-top {
    position: absolute;
    right: -65px;
    border-left: 65px solid transparent;
    border-right: 65px solid transparent;
    border-bottom: 77px solid #ceeaf6;
    z-index: 2;
}

.mountain-cap-1,
.mountain-cap-2,
.mountain-cap-3 {
    position: absolute;
    top: 70px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #ceeaf6;
}

.mountain-cap-1 {
    left: -55px;
}

.mountain-cap-2 {
    left: -25px;
}

.mountain-cap-3 {
    left: 5px;
}


@keyframes bgmoving {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-270px);
    }
}