.drawing {
    position: absolute;
    /* top: -50px; */
    left: 50%;
    transform: translate(-70%, -150%) scale(1.5);
    z-index: 2;
}
.chef-hat {
    position: relative;
    background: #efefef;
    height: 60px;
    width: 100px;
    box-shadow: -8px 0 0 0 #aaa inset, -48px 0 0 0 #ccc inset;
    border-radius: 0 0 8px 8px;
    transform: rotate(-10.5deg);
}
.chef-hat__ruffle:nth-child(1) {
    position: absolute;
    height: 60px;
    width: 60px;
    background: #efefef;
    top: 0;
    left: -20px;
    transform: translate(0, -75%);
    border-radius: 60px;
    box-shadow: -4px -8px 0 0 #aaa inset, -8px -16px 0 0 #ccc inset;
}
.chef-hat__ruffle:nth-child(2) {
    position: absolute;
    height: 80px;
    width: 80px;
    background: #efefef;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    border-radius: 60px;
    box-shadow: -4px -8px 0 0 #aaa inset, -8px -16px 0 0 #ccc inset;
}
.chef-hat__ruffle:nth-child(3) {
    position: absolute;
    height: 60px;
    width: 60px;
    background: #efefef;
    top: 0;
    left: 100%;
    transform: translate(-40px, -75%);
    border-radius: 60px;
    box-shadow: -4px -8px 0 0 #aaa inset, -8px -16px 0 0 #ccc inset;
}
.chef-moustache {
    position: absolute;
    top: 70px;
    left: 7.5px;
}
.chef-moustache__nose {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(45px, 0) rotate(45deg);
    height: 25px;
    width: 25px;
    background-color: #e0ac69;
    border-radius: 0 25px 25px 25px;
    box-shadow: -4px 4px 0 0 #c68642 inset;
}
.chef-moustache__tail:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    background: linear-gradient(to top, #7a5230 50%, transparent 50%);
    border-radius: 80px;
    transform: none;
    box-shadow: 0px -8px 0 0 #614126 inset;
}
.chef-moustache__tail:nth-child(2):before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    height: 40px;
    width: 40px;
    background-color: #7a5230;
    border-radius: 40px;
    transform: translate(0, -50%);
    box-shadow: 0px 6px 0 0 #876344 inset;
}
.chef-moustache__tail:nth-child(2):after {
    content: '';
    display: block;
    position: absolute;
    left: -0.5px;
    top: 50%;
    height: 21px;
    width: 21px;
    background-color: #53b0ae;
    border-radius: 20px;
    transform: translate(0, -67.5%);
}
.chef-moustache__tail:nth-child(3) {
    position: absolute;
    top: 0;
    left: 55px;
    height: 60px;
    width: 60px;
    background: linear-gradient(to top, #7a5230 50%, transparent 50%);
    border-radius: 80px;
    transform: translate(0, 0) scaleX(-1);
    box-shadow: 0px -8px 0 0 #614126 inset;
}
.chef-moustache__tail:nth-child(3):before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    height: 40px;
    width: 40px;
    background-color: #7a5230;
    border-radius: 40px;
    transform: translate(0, -50%);
    box-shadow: 0px 6px 0 0 #876344 inset;
}
.chef-moustache__tail:nth-child(3):after {
    content: '';
    display: block;
    position: absolute;
    left: -0.5px;
    top: 50%;
    height: 21px;
    width: 21px;
    background-color: #53b0ae;
    border-radius: 20px;
    transform: translate(0, -67.5%);
}