.game {
    width: 500px;
    height: 200px;
    border: 10px solid black;
    margin: auto;
    overflow: hidden;
    background-color: aqua;
}


#character {
    position: relative;
    left: 0;
    bottom: -20px;
}

.animate {
    /* animation: jump 0.5s linear alternate; */
    /* top: -700px !important;
    transform: translateY(-700px); */
    transform: translateY(-700px);
    -webkit-transform: translateY(-700px);
    -moz-transform: translateY(-700px);
    -o-transform: translateY(-700px);
    -ms-transform: translateY(-700px);
}

.notanimate {
    /* animation: jump 0.5s linear alternate; */
    top: 0px !important;
}

/*  */
.obstacle {
    background-color: rgb(111, 102, 17);
    border-radius: 5px;
    margin: 0;
    border: 2px solid rgb(116, 94, 72);
    position: relative;
    animation: block infinite linear;
    animation-duration: 1.5s;
    will-change: left;
}


@keyframes block {
    0% {
        left: 400px
    }

    100% {
        left: -70px
    }
}


/* cloud */

.center {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
}

.cloud {
    background: rgba(255, 255, 255);
    width: 300px;
    height: 100px;
    border-radius: 150px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    animation: move 3s infinite;
    /* transform: scale(0.2) translateY(700px) translateX(-400px); */
}

.cloud:after {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.cloud:before {
    content: '';
    background: rgba(255, 255, 255);
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: translate(-90px, -60px);
}
