/* playing state */

.running {
    animation-play-state: running;
}

.paused {
    animation-play-state: paused;
}

/* object */

#obstacle {
    border-radius: 0px;
    margin: 0;
    position: relative;
    will-change: transfrom;
    border: 2px solid black;
    overflow: visible !important;
}

#obstacle.rocket {
    animation: rocket infinite linear;
    animation-duration: 1.5s;
}

#obstacle.hyperrocket {
    animation: hyperrocket infinite linear;
    animation-duration: 2s;
}

#obstacle.block {
    animation: block infinite linear;
    animation-duration: 2s;
}

#obstacle.MonsterCMove {
    animation: MonsterC infinite linear;
    animation-duration: 3s;
}

#obstacle.monsterb {
    animation: MonsterB infinite linear;
    animation-duration: 3s;
}

#obstacle.meteor {
    animation: meteor infinite linear;
    animation-duration: 1.5s;
}

#obstacle.burgerdevilmove {
    animation: burgerdevilmove infinite linear;
    animation-duration: 1.4s;
}



/* animation */
@keyframes burgerdevilmove {
    0% {
        transform: translateX(350px) translateY(-100px);
    }

    30% {
        transform: translateX(350px) translateY(10px);
    }

    100% {
        transform: translateX(-170px);
    }
}


@keyframes rocket {
    0% {
        transform: translateX(550px) translateY(-10px);
    }

    100% {
        transform: translateX(-170px) translateY(-10px);
    }
}

@keyframes hyperrocket {
    0% {
        transform: translateX(550px) translateY(-20px);
    }

    20% {
        transform: translateX(350px) translateY(-20px);
    }

    100% {
        transform: translateX(-170px) translateY(-110px);
    }
}


@keyframes block {
    0% {
        transform: translateX(550px);
    }

    100% {
        transform: translateX(-70px);
    }
}


@keyframes MonsterC {
    0% {
        transform: translate(550px, 0px);
    }

    25% {
        transform: translate(450px,-40px);
    }

    40% {
        transform: translate(350px,0px);
    }

    55% {
        transform: translate(250px,-40px);
    }
    75% {
        transform: translate(0px,0px);
    }
    100% {
        transform: translate(-50px,-30px);
    }
}



@keyframes MonsterB {
    0% {
        transform: translateX(550px) translateY(20px);
    }

    100% {
        transform: translateX(-170px) translateY(20px);
    }
}

@keyframes meteor {
    0% {
        transform: translateX(550px) translateY(-80px);
    }

    100% {
        transform: translateX(-170px) translateY(13px);
    }
}