@font-face {
  font-family: 'NineTsuki';
  src: local('NineTsuki'), url(./asset/font/NineTsukiRegular.ttf) format('truetype');
}

@font-face {
  font-family: 'Guava-Candy';
  src: local('Guava-Candy'), url(./asset/font/Guava\ Candy.ttf) format('truetype');
}

@font-face {
  font-family: 'Wonder-Night';
  src: local('Wonder-Night'), url(./asset/font/Wonder\ Night.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body {
  margin: 0;
  font-family: 'Titan One', cursive !important;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}