* {
    box-sizing: border-box;
    user-select: none;
}

:root {
    --bun-outer: #f5993d;
    --bun-dark: #963;
    --bun-inner: #ffe6cc;
    --mustard: #ffdb57;
    --sausage-light: #b33232;
    --sausage-dark: #6b0000;
}

body {
    background: #47ebeb;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hotdog {
    height: 200px;
    width: 300px;
    min-width: 200px;
    resize: horizontal;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hotdog:active .hotdog__arrow {
    display: none;
}

.hotdog__arrow {
    height: 30px;
    width: 20px;
    background: #fff;
    position: absolute;
    bottom: 15px;
    right: 0;
    transform-origin: 50% 100%;
    transform: rotate(-15deg);
    -webkit-clip-path: polygon(50% 100%, 100% 60%, 60% 60%, 65% 0, 35% 0, 35% 60%, 0 60%);
    clip-path: polygon(50% 100%, 100% 60%, 60% 60%, 65% 0, 35% 0, 35% 60%, 0 60%);
    animation: bounce 0.5s infinite linear;
}

.hotdog__meat {
    height: 80px;
    width: 90%;
    background: var(--sausage-light);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px/40px;
    box-shadow: -10px -10px 0px 10px var(--sausage-dark) inset;
}

.hotdog__mustard {
    position: absolute;
    top: -50%;
    text-decoration: underline;
    text-decoration-style: wavy;
    width: 80%;
    flex: 1;
    display: block;
    color: transparent;
    text-decoration-color: var(--mustard);
    font-weight: bold;
    clip-path: inset(-100% 0 -100% 0);
    font-size: 10rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.hotdog__roll {
    border-radius: 50px;
    width: 80%;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.hotdog__roll--top {
    top: 20%;
    background: var(--bun-inner);
    box-shadow: 0 2px 0 4px var(--bun-outer) inset;
}

.hotdog__roll--bottom {
    bottom: 0;
    background: var(--bun-outer);
    box-shadow: 0 -4px 0 2px var(--bun-dark) inset;
}